src/**/*.js
src/**/*.d.ts
lib/**/*.js
lib/**/*.d.ts
node_modules
.idea
*.tsbuildinfo
dist
yarn-error.log
build
coverage
.env
examples/outputs

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide